<div class="container">
    <div class="row rounded-3 m-4 p-3 border border-2 border-light-subtle">
        <div class="col-md-6">
            <img src="../../../assets/img/Login-rafiki.svg" alt="">
        </div>
        <div class="col-md-6  d-flex justify-content-center align-items-center ">
           
                <form (ngSubmit)="loginFun(loginForm)"  [formGroup]="loginForm" class="d-flex w-100 justify-content-center  flex-column">
                    <label class="my-2" for="">Email</label>
                    <input formControlName="email" class="form-control" type="email" name="" id="">
    
                    <div id="alert" *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
                        <p *ngIf="loginForm.get('email')?.getError('required')">Email are required !</p>
                        <p *ngIf="loginForm.get('email')?.getError('email')">Email are incorrect !</p>                       
                     </div>

                    <label class="my-2" for="">Password</label>
                    <input formControlName="password" class="form-control"  type="password" name="" id="">
                   
                    <div id="alert" *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
                        <p *ngIf="loginForm.get('password')?.getError('required')">Password are required !</p>
                        <p *ngIf="loginForm.get('password')?.getError('pattern')">Password must begin with uppercase and following at least 8 charecters and numbers!</p>
                    </div>

                    <button [disabled]="loginForm.invalid" class="btn login-button my-3 w-100 d-block">Login</button>
                    <a [routerLink]="['/register']" routerLinkActive="router-link-active"  class="text-center">Create A New Account</a>

                    <p class="text-center text-info ">{{msg}}</p> 
                </form>
          
          
        </div>
    </div>
</div>
